#head_menu_sandwich_catalog_and_search {}


#head_menu__links {
  display: inline-block;
  float:        right;
  width:        27.1%;
  margin-right: 16.3%

  /* border: black 1px solid; */
}

#head_menu__links A {
  color: var(--text-light-gray);
}
#head_menu__links A {
  text-decoration: none;
}


#head_menu__links___builds {
  float: left;
  padding: 15px 5px;

  background-color: white;
}

#head_menu__links___sign_in {
  float: left;
  padding: 15px 16px 15px 8px;

  background-color: white;
}

#head_menu__links___sign_up {
  padding: 14px 6px;

  background-color: var(--background-button-blue);
}
#head_menu__links___sign_up A {
  color: white;
}
